.growl-message{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border-width:1px;
	border-color:#000;
	border-style:solid;
	background-color:#444;
	display:block;
	position:absolute;
	left:0;
	top:0;
	margin:15px;
	width:350px;
	padding:15px;
	color:#ddd;
	font-size:14px;
	font-family:georgia;
}

.growl-message .close-link{
	float:right;
	margin-top:-10px;
	margin-right:-10px;
}

.growl-message .title{
	color:#f9e814;
	font-weight:bold;
	padding-bottom:6px;
	margin-top:-8px;
}

.growl-message .content{
	font-size:12px;
}