
.container {
  background-color: var(--broadcast-background-color);
  border-radius: var(--broadcast-border-radius);
  border: var(--broadcast-border);
  color: var(--broadcast-text-color);
  font-size: var(--broadcast-message-font-size);
  margin: .5em 0;
  padding: .5em;
}
