:root {
  --growler-background-color: #fff;
  --growler-text-color: #222;
  --growler-border: 1px solid #000;
  --growler-border-radius: 4px;
  --growler-message-font-size: 1rem;
}

:global .darkMode {
  --growler-background-color: #000;
  --growler-text-color: #efefef;
  --growler-border: 1px solid #fff;
}
